.top {
    display: block;
    background-color: #fff;
    height:50px;
}
#top_title {
    font-family:Geneva;
    padding-left: 220px;
    font-size: 20px;
}

.middle {
    display:block;
    background-color: rgb(249,250,255);
    height: 245px;
    padding-top: 95px;
}
#f_l_mid {
    text-align: center;
    font-size: 32px;
    font-family:sans-serif;
    color: rgb(26,42,56);
    margin: 5px 5px 5px 5px;
    color: #1A2A38;
}
#s_l_mid {
    text-align: center;
    font-size: 80px;
    font-family:sans-serif;
    color: rgb(26,42,56);
    margin: 5px 5px 5px 5px;
    color: #1A2A38;
}

#t_l_mid {
    text-align: center;
    font-size: 18px;
    font-family:sans-serif;
    color: rgb(26,42,56);
    margin: 5px 5px 5px 5px;
    color: #1A2A38;
}

#button1 {
    background: #0887ed;
    color: #fff;
    font-size: 14px;
    padding: 12px 30px;
    border-radius: 50px;
    border-color: #0887ed;
    margin: 15px 0px 0px;
    box-align: center;
}

.moving_img {
    background-image: url(http://tokiolab.it/park/images/pro-bg.png);
    width: 100%;
    height: 300px;
    animation: animate 25s linear infinite;
}
@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.whole {
    background: #e6fcff;
    border-top: 1px solid #caf3f9;
    border-bottom: 1px solid #caf3f9;
    padding: 60px 0px;
    width: 100%;
    height:330px;
}

.c_img {
    float: left;
    width: 40%;
    padding-right: 30px;
}

#com_img {
    height: 370px;
    width: 370px;
    padding-left: 200px;
}

.text {
    float: left;
    width: 50%;
    padding-left: 30px;
}

#f_com {
    font-size: 32px;
    margin: 10px;
    font-family:sans-serif;
    color: #1A2A38;
}

#s_com {
    font-size: 62px;
    font-family:sans-serif;
    margin: 10px;
    color: #1A2A38;
}

#t_com {
    font-size:13px;
    font-family:sans-serif;
    margin: 10px;
    color: #1A2A38;
}

li{
    font-size:13px;
    font-family:sans-serif;
    padding:0px;
    margin: 0px 0px 12px; 
    color: #1A2A38;
}

#button2 {
    background: #0887ed;
    color: #fff;
    font-size: 14px;
    padding: 12px 30px;
    border-radius: 50px;
    border-color: #0887ed;
    margin: 15px 0px 0px;
    box-align: center;
}

.coming_soon {
    display: inline-block;
    background: #e6fcff;
    width: 100%;
    height:523px;
    padding-top: 60px;
    padding-left: 150px;
    position: relative;
}

.left {
    float:left;
    width:45%;
    position: relative;
}

.right {
    float: left;
    padding-left: 20px;
}

#l_f {
    font-size:62px;
    font-family:sans-serif;
    padding:0px;
    margin: 0px 0px 12px; 
    color: #1A2A38;
}

#l_s {
    font-size:20px;
    font-family:sans-serif;
    padding:0px;
    margin: 0px 0px 12px; 
    color: #1a2a38;
}

#l_t {
    font-size:14px;
    font-family:Poppins;
    padding:0px 0px 30px;
    margin: 14px 0px 30px; 
    color: #61686b;
}

#d_f {
    text-align: center;
    font-family:sans-serif;
    font-size: 32px;
    padding-top: 40px;
    margin: 5px 5px 5px 5px;
}

#d_s {
    font-size: 54px;
    font-family:Poppins;
    color: #1A2A38;
    text-align: center;
    margin: 5px 5px 5px 5px;
}

.end {
    background: #1a2a38;
    padding: 10px 0px;
    height: 21px;
}

#e_f {
    text-align: center;
    font-family:sans-serif;
    margin: 0px;
    font-size: 14px;
    color: #687179;
}

#r_f {
    font-size: 22px;
    text-align: center;
    margin-bottom: 18px;
    color: #fff;
    background: #273c56;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
    font-family: Poppins;
}

#thingy {
    background: white;
    border-radius: 20px;
    box-shadow: 0px 31px 53px -15px rgb(0 0 0 / 76%);
}

#l_f,#l_s,#l_t {
    padding-right: 90px;
}

ul {
    padding: 0px;
    margin: 0px;
    display: block;
    list-style-type: disc;
    padding-inline-start: 40px;
}

#d_blocks {
    text-align: center;
    padding: 25px;
    border: 1px solid #f1f1f1;
    margin: 5px;
    border-radius: 2px;
    display: inline;
}

#d_blocks ul li {
    float: left;
    width: 25%;
}